.recibo-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #000;
}

/* Header */
.recibo-header img {
  max-width: 98mm; /* Limita el ancho máximo a 90mm */
  height: auto; /* Mantiene la proporción */
}
/* Line Separator */
.linea {
  border-top: 2px solid #000; /* Black separator line */
  margin: 20px 0;
}

/* Receipt Info */
.recibo-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.recibo-info p {
  font-size: 16px;
  color: #000; /* Black text */
}

.recibo-info span {
  font-weight: bold;
}

/* Receipt Data */
.recibo-datos {
  margin-bottom: 20px;
}

.recibo-datos p {
  font-size: 16px;
  margin: 5px 0;
  color: #000; /* Black text */
}

.recibo-datos span {
  font-weight: bold;
}

/* Payments History */
.recibo-pagos h3 {
  font-size: 24px;
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.recibo-tabla table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.recibo-tabla th,
.recibo-tabla td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #000;
}

.recibo-tabla th {
  background-color: #3d3a3a;
  color: white;
}

.recibo-tabla td {
  background-color: #fff;
  color: #000;
}

.recibo-tabla td:first-child,
.recibo-tabla th:first-child {
  text-align: left;
}

.recibo-tabla tfoot td {
  font-weight: bold;
  background-color: #3d3a3a;
  color: white;
}

.recibo-tabla tfoot td[colspan="4"] {
  text-align: right;
  padding-right: 20px;
}

.recibo-tabla tfoot td[colspan="2"] {
  text-align: center;
  padding-left: 20px;
}

/* Otros estilos del recibo */

/* Estilos específicos para la impresión */
@media print {
    body {
        width: 104mm; /* Ajusta el ancho de la página de impresión */
        margin: 0;
    }

    .recibo-container {
        width: 100%;
        page-break-before: always;
    }

    /* Otros estilos que puedas querer ajustar para la impresión */
    img {
        width: 100%; /* Ajusta las imágenes al ancho de la página */
    }

    table {
        width: 100%;
        page-break-inside: avoid; /* Evita que las tablas se dividan */
    }
}